div {
  font-family: Arial, Helvetica, sans-serif;
}

span {
  width: 20px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 6px;
  background-color: red;
  color: white;
  border-radius: 6px;
}
