/* * {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  height: 50px;
  width: auto;
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  background-color: grey;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul li {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* float: right; */
} */
